body{
    background-color:brown
}
https://www.timesofisrael.com/gallant-intense-fighting-over-in-northern-gaza-will-soon-end-in-khan-younis-too/#:~:textThe%20IDF%20has%20assessed%20that,its%20military%20and%20governing%20capabilities

https://en.wikipedia.org/wiki/Israeli%E2%80%93Palestinian_conflict#:~:textKey%20areas%20of%20the%20conflict,the%20Palestinian%20right%20of%20retur

https://afsc.org/news/5-things-you-need-know-about-whats-happening-israel-and-gaza#:~:textGaza%20has%20been%20under%20a,its%20over%20two%20million%20residents.